:root{
  font-size: 62.5%; /* 1 rem = 10px */
}

body{
  font-size: 1.6rem;
}

/* header */

header{
  display: flex ;
  align-items: center;
  justify-content: left ;
}
header{
  background-color: #bbbbbb;
  padding: 2rem 0;
}
.caixa{
  position: relative;
  width: 94rem;
  margin: 0 auto;
}

nav{
  position: absolute;
  top: 50%;
  right: 10%;
}

nav li{
  display:  inline;
  margin: 0 0 0 1.5rem;
}

nav a{
  color: #000000;
  text-decoration: none;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.2rem;
}

nav a:hover{
  color: #C78C19;
  text-decoration: underline;
}

/* foto banner */
.banner{
 padding: 20rem 10rem;
 background-color: black ;
 
 background: url("assets/logo.jpg");
 background-position: center;
 background-repeat: no-repeat ;
 background-size: cover;

}

/* info da barbearia */

.principal{
  background-color: #cccccc;

  display: block;

  padding: 1rem 2rem;
  width: 100%;
  height: 30%;
}

.titulo-principal{
  padding-left: 2rem ;
}
.titulo-centralizado:hover{
  color: #a50e0e;
  font-size: 3.5rem; 
}

.titulo-centralizado {
  text-align: center;
  font-size: 3rem;
}

p {
  text-align: center;
  padding: 2rem;
}

#missao{
  font-size: 2rem;
}

em strong{
  color: red;
}

.itens{
  font-style: italic;
  list-style: none;
  padding: 0.5rem;
}
.itens:hover{
  color:#C78C19;
  font-size: 2rem;
}

.beneficios{
  padding: 2rem;
  background: #bbbbbb;
}

.lista-itens{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-right: 15%;
}

.imagemBeneficio{
  width: 20%;
  
}

/* footer */
footer{
  text-align: center;
  background: url("assets-produtos/bg.jpg") ;
  padding: 4rem 0rem ;
  
}

.copyright {
  color: #FFFFFF;
  font-size: 1.3rem;
  margin-top:  2rem;
}