/* setter defalt */
:root{
  font-size: 62.5%; /*1rem = 10px*/
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

/* header  */
header{
  background-color: #bbbbbb;
  padding: 2rem 0;
}

.caixa{
  position: relative;
  width: 94rem;
  margin: 0 auto;
}

nav{
  position: absolute;
  top: 50%;
  right: 10%;
}

nav li{
  display:  inline;
  margin: 0 0 0 1.5rem;
}

nav a{
  color: #000000;
  text-decoration: none;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.2rem;

}

nav a:hover{
  color: #C78C19;
  text-decoration: underline;
}

/* css da página inicial */

.banner{
  width: 100%;
}

.titulo-principal{
  text-align: center;
  font-size: 2em;
  padding-bottom: 1em;
  clear: left;
}

.principal{
  padding: 3rm 0;
  background-color: #FEFEFE;
  width: 94rem;
  margin: 0 auto;
}

.principal p{
  margin-bottom: 1em;
}

.principal strong{
  font-weight: bold;
}

.principal em{
  font-style: italic;
}

.utensilios{
  width: 15rem ;
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.mapa{
  padding: 3em 0;
  background: linear-gradient(#FEFEFE,#888888) ;

}

.mapa-conteudo{
  width: 94rem;
  margin: 0 auto;
}

.mapa p {
  margin-bottom: 2em;
  text-align: center;
}


.beneficios{
  padding: 3em 0;
  background-color: #888888;

}

.conteudo-beneficios{
  width: 64rem;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  
}

.lista-beneficios{
  width: 40%;
}

.itens{
  line-height: 1.5;
  
}

.itens:before{
  content: "🟊";
}

.itens:first-child{
  font-weight: bold;
}

.imagem-beneficio{
  width: 60%; 
  opacity: 1;
  transition: 400ms;
}

.imagem-beneficio:hover{
  opacity: 0.3;
}

.video{
  width: 56rem;
  margin: 2em auto ;
}

/* main */
.produtos{
	width: 94rem;
	margin: 0 auto;
	padding: 5rem 0;
  
}

.produtos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 3rem 2rem;
  box-sizing: border-box;

  border: 0.2rem solid #000000; 
  border-radius: 1rem;
}

.produtos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

.produtos li:hover{
  border-color: #C78C19;
}

.produtos li:hover h2 {
  color: #C78C19;
  font-size: 3.4rem;
}

.produtos li:active{
  border-color: #088C19;
}

.produtos h2{
  font-size: 3rem;
  font-weight: bold;
}

.produto-descricao{
  font-size: 1.8rem;
}

.produto-preco{
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

/* footer */
footer{
  text-align: center;
  background: url("assets/bg.jpg") ;
  padding: 4rem 0rem ;
  
}

.copyright {
  color: #FFFFFF;
  font-size: 1.3rem;
  margin-top:  2rem;
}

/* contatos */

form{
  margin: 4rem 0;

}

form label, form legend{
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.conteudo-form{
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.conteudo-table{
  display: flex;
  flex-direction: column; 
  margin-left: 20%;

  
}

.input-padrao{
  display: block;
  margin-bottom: 2rem;
  padding: 1rem 2.5rem ;
  width: 50%;
}

.checkbox{
  margin: 2rem 0;
}

.enviar{
  width: 40%;
  padding: 1.5rem 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem;
  transition: 1s all ;
  cursor: pointer;
}

.enviar:hover{
  background: darkorange;
  transform: scale(1.1);
}

/* tabela */

table{
  margin: 2rem 0 4rem;
  width: 20%;
}

thead{
  background: #555555;
  color: white;
  font-weight: bold;
  width: auto;
}

td, th{
  border: 0.1rem solid #000000;
  padding: 0.8rem 1.5rem;
}


@media screen and (max-width: 480px){
  .caixa, .principal, .mapa-conteudo, .conteudo-beneficios, .video{
    width: auto;
  }

  h1{
    text-align: center;

  }
  nav{
    position: static;
    text-align: center;
  }

  #missao{
    padding: 2rem;
  }
  
  .lista-beneficios, .imagem-beneficios {
      width: 100%;
  }

  .mapa-conteudo{
    width: 95%;
  }

  .video{
    width: 95%;
  }

  .conteudo-form{
    margin: 1rem;
    display: flex;
    flex-direction: column;    
  }

  .conteudo-table{
    margin: 1rem;
  }
  
   table{
    margin: 0 auto;
    width: 95%;
  }
 
  .produtos{
    display: flex;
    flex-direction: column;
  }
  .produtos li{
    width: 95vw;
  }

}
